{% extends "AppCoder/base.html" %}
{% load static %}


{% block contenidoquecambia %}
Busqueda Estudiantes
<form action = "" method="POST">
    {% csrf_token %}
    <table>
        {{formbusqueda.as_table}}
    <table>
        <input type="submit" value="Buscar">
</form>
Resultados Busqueda: 
{% for Estudiantes in estudiantes %}
    
           <p> {{ Estudiantes.nombre }} {{ Estudiantes.apellido }}
           
            
{% endfor %}

{% endblock contenidoquecambia %}


